:root {
    --flexDisplay: flex;
    --center: center;
    --column: column;
    --blackColor: #0e0e0e;
    --yellowColor: yellow;
    --borderRadius: 10px;
    --grayColor: #2f3639;
    --whiteColor: #f5f5f5;
}
/*added some css variables and styled how I wanted*/
header {
    display: var(--flexDisplay);
    flex-direction: var(--column);
    justify-content: var(--center);
    align-items: var(--center);
    background-color: var(--blackColor);
    color: var(--yellowColor);
    border-radius: var(--borderRadius);
}
body {
    background-color: var(--grayColor);
}
main {
    display: var(--flexDisplay);
    flex-direction: column;
    justify-content: var(--center);
    align-items: var(--center);
    padding: 50px;
}
.description {
    display: var(--flexDisplay);
    flex-direction: var(--column);
    background-color: var(--whiteColor);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: var(--borderRadius);
}
span {
    color: var(--grayColor);
}
h3, .questions {
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}
ul {
    font-size: 20px;
    font-weight: bold;
}
section {
    display: var(--flexDisplay);
    justify-content: var(--center);
    flex-direction: var(--column);
}
.button, h2, .multiple {
    font-size: x-large;
    background-color: var(--blackColor);
    color: var(--yellowColor);
    border-radius: 5px;
}
.button:hover, .options:hover {
    background-color:var(--whiteColor);
    transform: scale(115%);
    border: 5px solid var(--blackColor);
    color: var(--blackColor);
    cursor: pointer;

}
#start {
    display: var(--flexDisplay);
    justify-content: var(--center);
}
.boxVisible {
    visibility: hidden;
}
.questions {
    margin-bottom: 50px;
}
.optionList {
    display: var(--flexDisplay);
    justify-content: var(--center);
    align-items: var(--center);
}
.options {
    color: var(--yellowColor);
    padding: 25px;
    margin: 10px;
    width: 25%;
    background-color: var(--grayColor);
}
.quiz {
    position: absolute;
    top: 350px;
}
.question {
    color: var(--blackColor);
}
.correct {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    color: var(--blackColor);
}
.incorrect {
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    color: var(--blackColor);
}
.disabled {
    pointer-events: none;
}
